@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Apis';
        src: url('/fonts/Apis-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Apis';
        src: url('/fonts/Apis-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Apis';
        src: url('/fonts/Apis-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Apis';
        src: url('/fonts/Apis-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Apis';
        src: url('/fonts/Apis-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    html {
        font-family: Apis, system-ui, sans-serif;
    }

    body{
        @apply text-blue-950;
    }

    .btn{
        @apply text-base font-normal rounded-full h-14 px-6 flex items-center justify-center;
    }

    .btn-primary{
        @apply text-white bg-blue-800;
    }

    .btn-secondary{
        @apply text-blue-950 bg-gray-200;
    }

    .h1{
        @apply text-2xl font-bold;
    }
}

@layer utilities {
    .animate-pulse {
        animation: pulse 5s infinite;
    }
    .animate-cloud {
        animation: slide 25s linear infinite;
    }

    @keyframes pulse {
        0% {
            transform: translateY(-16px);
        }
        50% {
            transform: translateY(16px);
        }
        100% {
            transform: translateY(-16px);
        }
    }

    @keyframes slide {
        0% {
            margin-right: -768px;
        }
        100% {
            margin-right: 100%;
        }
    }
}